<ion-view>
    <ion-content>
        <div class="row">
            <div class="col col-50">
                    <div class="row">
                        <div class="col col-50"></div>
                        <div class="col">
                            <h2>
                                <span class="ion-stats-bars">Sales Sol</span>
                             </h2>
                         </div>
                         <div class="col"></div>
                    </div>
                    
            </div>
            <div class="col">
                <div class="row">
                    <div class="col col-50"></div>
                    <div class="col">
                        <button class="button button-block button-calm" ui-sref="login">
                            Login
                         </button>
                         
                    </div>
                </div>
            </div>
             <div class="col">
                 <div class="row">
                 <div class="col col-50">
                     <button class="button button-block button-calm" ui-sref="signup">
                            Sign Up
                         </button>
                 </div>
                    <div class="col">                        
                     </div>
                     </div>
                </div>
             </div>
        </div>
        <div class="main-color">
           <div class="center-color">
               <h2 class="main_name">Sales Solutions.</h2>
               <h2 class="main_name">A complete solution for all Sales person.</h2>
               <div class="row">
               <input type="text" ng-model = "user.email" placeholder="Email"> <span>  </span>
               <input type="password" ng-model = "user.password" placeholder="Password">
               <a class="button button-positive" type="submit">Login</a>
               </div>
           </div>
           <div class="angry-man">
               <img class="angry" src="../admin/img/angry-man.jpeg">
           </div>
        </div>
        </ion-content>
</ion-view>